<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<style>
    .custom-button {
        background-color: transparent;
        color: white; 
        padding: 10px 20px;
        border: 2px solid white;;
        cursor: pointer;
        border-radius: 5px;
      }
      
      .custom-button:hover {
        background-color: white;
        color: #ea5c54; 

      }
      
</style>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger d-flex justify-content-between align-items-center">
                        <div>
                            <h4 class="card-title">Table De Coachs</h4>
                            <p class="card-category">Here is a subtitle for this table</p>
                        </div>
                        <span type="button" routerLink="/ajoutCoach" class="custom-button">Ajouter</span>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead >
                                    <th>
                                        <strong> FirstName</strong>
                                    </th>
                                    <th>
                                        <strong> LastName</strong>
                                    </th>
                                    <th>
                                        <strong> Email</strong>
                                    </th>
                                    <th>
                                        <strong>Phone Number</strong>
                                    </th>
                                    <th>
                                        <strong> Address</strong>
                                    </th>
                                    <th>
                                        <strong>Spécialité</strong>
                                    </th>
                                    <th>
                                        <strong>Salaire</strong>
                                    </th>
                                    <th>
                                        <strong> Actions</strong>
                                    </th>
                                </thead>
                                <tbody *ngFor="let coach of AllCoachs">
                                    <tr>
                                        <td>
                                            {{coach.firstName}}
                                        </td>
                                        <td>
                                            {{coach.lastName}}
                                        </td>
                                        <td>
                                            {{coach.email}}
                                        </td>
                                        <td>
                                            {{coach.PhoneNumber}}
                                        </td>
                                        <td>
                                            {{coach.address}}
                                        </td>
                                        <td>
                                            {{coach.specialite}}
                                        </td>
                                        <td >
                                            {{coach.salaire}}
                                        </td>
                                        <td>
                                            <button (click)="delete(coach)" class="btn btn-link" style="color: red;">
                                                <i class="bi bi-trash3"></i>
                                              </button>
                                           
                                       
                                            <a href="#" [routerLink]="['/updateCoach',coach.id]" class=" ml-2">
                                                <i style="color:blue"class="bi bi-pencil-square"></i></a>
                                        </td>
                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  