<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<style>
    .custom-button {
        background-color: transparent;
        color: white; 
        padding: 10px 20px;
        border: 2px solid white;;
        cursor: pointer;
        border-radius: 5px;
      }
      
      .custom-button:hover {
        background-color: white;
        color: #ea5c54; 

      }
      
</style>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger d-flex justify-content-between align-items-center">
                        <div>
                            <h4 class="card-title">Table De Réservations</h4>
                            <p class="card-category">Here is a subtitle for this table</p>
                        </div>
                        <span type="button" routerLink="/ajoutReservation" class="custom-button">Ajouter</span>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead >
                                    <th>
                                        <strong> Référence</strong>
                                    </th>
                                    <th>
                                        <strong> Date Debut Réservation</strong>
                                    </th>
                                    <th>
                                        <strong> DateFinReser</strong>
                                    </th>
                                    <th>
                                        <strong> Statut</strong>
                                    </th>
                                    <th>
                                        <strong> Type</strong>
                                    </th>
                                    <th>
                                        <strong> Actions</strong>
                                    </th>
                                </thead>
                                <tbody *ngFor="let reservation of Allreservations">
                                    <tr>
                                        <td>
                                            {{reservation.ref}}
                                        </td>
                                        <td>
                                            {{reservation.DateDebutReser}}
                                        </td>
                                        <td>
                                            {{reservation.DateFinReser}}
                                        </td>
                                        <td>
                                            {{reservation.statut}}
                                        </td>
                                        <td >
                                            {{reservation.type}}
                                        </td>
                                        <td>
                                            <button (click)="delete(reservation)" class="btn btn-link" style="color: red;">
                                                <i class="bi bi-trash3"></i>
                                              </button>
                                            <a href="#"[routerLink]="['/updateReservation']" [queryParams]="{ id: reservation.idReservation }" class=" ml-2">
                                                <i style="color:blue"class="bi bi-pencil-square"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  